body {
    
margin: 0;
    
font-family: Arial, Helvetica, sans-serif;
    
background: url("bg1.jpg") no-repeat center center fixed;
    
-webkit-background-size:cover;
    
-moz-background-size:cover;
    
-o-background-size:cover;
    
background-size:cover;
  }
  
  
.topnav {
    
overflow: hidden;
    
background-color: rgba(6, 0, 0, 0.30);
	
  }
  
  
.topnav a {
    
float: right;
    
color: #f2f2f2;
    
text-align: center;
    
padding: 14px 16px;
    
text-decoration: none;
    
font-size: 17px;
  }
  
  
.topnav a:hover {
    
background-color: purple;
    
color: black;
  }
  
  
.topnav a.active {
    
background-color:purple;
    
color: white;
	}
	



.button{
   
position:absolute;
  
top:50%;
  
left:50%;
  
transform:translate(-50%,-50%);

}


.butt {
  
background-color: #4CAF50;
 /* Green */
  
border: none;
  
color: white;
  
padding: 16px 32px;
  
text-align: center;
  
text-decoration: none;
  
display: inline-block;
  
font-size: 16px;
  
margin: 4px 2px;
  
transition-duration: 0.4s;
  
cursor: pointer;
}


.button1 {
  
background-color: black; 
  
color: black; 
  
border: 2px solid #4CAF50;
  
border-radius: 70px;
}


.button1:hover {
  
background-color: purple;
  
color: white;
}
  

.btn{
 border-radius:70px;
  
border:1px solid black;
  
padding:10px 30px;
  
color:black;
  
text-decoration: none;
  
transition: 0.6s ease;
}


.btn:hover{
border-radius:70px;
  
background-color:purple;
    
color:white;
}

.wrapper{
  width:1170px;
  
margin: 70px auto;

}

.sin-team{
  width:70%;
  
float:center;
  
margin:15px;
   
box-shadow: 0 2px 20px rgba(0,0,0,0.8);
   
color:#fff;
   
background:#262626;
   
border-radius:15px;
  
padding:15px;
}

.sin-team img{
  width:160px;
  
height:120px;
  
border-radius: 50%;
  
float:left;
  
margin:40px 20px 30px 0;
  
border:5px solid #fff;
 
shape-outside: circle();
 }

h2{
  font-family:Audiowide;
}

p{
  text-align: justify;
  
line-height:15px;
}

	

header{
width:80%;
margin:auto;
overflow: hidden;
}
.head{
float:left;
color:#fff;
font-family: cursive;
}
nav{
float:right;
}
li{
display:inline;
padding:lrem;
}
li a{
color:#fff;
text-decoration:none;
font-weight:bold;
width: 150px;
float: left;
margin: 10px auto;
text-align: center;
}  
